html,
body {
  margin: 0;
  padding: 0;
}

:not(:defined) {
  visibility: hidden;
}

body {
  height: 100%;
  font: 16px var(--sl-font-sans);
  font-weight: var(--sl-font-weight-normal);
  background-color: var(--docs-background-color);
  line-height: var(--sl-line-height-normal);
  color: var(--sl-color-neutral-900);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.sl-toast-stack {
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  margin: 0 auto;
}
